@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
 color-scheme: light dark;
  color: #d9e2f1;
  background-color: #292929;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
  

}
header .main-header{
  display: flex;
  gap: 1rem;
  align-items: center;
}
header  img{
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #a85418 ;
}
header h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #a85418;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

header button{
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  color: #a85418;
  font-size: 1.5rem;
  padding: 1px 2px;
  cursor: pointer;
  
}

header button:hover{
  cursor: pointer;
  background-color: #444;
  padding: 4px 8px;
  border-radius: 5px;
}

.foods{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
  width: 90%;
  max-width: 70rem;
  margin: 2rem auto ;
  padding: 1rem;
  gap: 1rem;
}

.food-item{
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  text-align: center;
  
}

.food-item:hover{
  transform: scale(1.02);
}

.food-item img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.food-item article{
   height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.food-item h3{
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  margin-bottom: 0.8rem;
  color: #d9e2f1;
}

.food-description{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  margin-bottom: 0.2rem;
  color: #d9e2f1;
  flex-grow: 1;
}

.food-price{
  display: inline-block;
  background-color: #292929;
  color: #a85418;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.food-actions{
  margin-bottom: 1.5rem;
}
.food-actions button{
  background-color: #a85418;
  border: none;
  color: #1f1a09;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.food-actions button:hover{
  background-color: #c66c24;
}