@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
 color-scheme: light dark;
  color: #d9e2f1;
  background-color: #292929;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;

}
header p{
  display: flex;
  gap: 1rem;
  align-items: center;
}
header p img{
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #a85418 ;
}
header h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #a85418;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

header button{
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  color: #a85418;
  font-size: 1.5rem;
  padding: 1px 2px;
  cursor: pointer;
  
}

header button:hover{
  cursor: pointer;
  background-color: #444;
  padding: 4px 8px;
  border-radius: 5px;
}